$main-yellow-color: #FFE031
$dark-gray-color: #414141
$gray-color: #A7A7A7
$gradient: #FCFCFC

.loader
    justify-content: center
    align-content: center

a
    i
        margin: 3%
        color: $dark-gray-color
        font-size: 20px

.divRestDetail
    display: flex
    align-items: center
    /* border: red 2px solid */

    &__img
        width: 68%

        img
            border-radius: 22px
            object-fit: cover
            padding: 5px 10px
            width: 100%
            height: 120px

    &__info
        p
            margin: 0

/* .divDishDetail
    position: relative
    border: red 2px solid


    &__img
        img
            border-radius: 15px
            object-fit: cover
            padding: 2px
            width: 100%
            height: 250px

    &__info */


