@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap')

$main-yellow-color: #FFE031
$dark-gray-color: #414141
$gray-color: #A7A7A7
$light-gray-color: #F2F2F2


body
    font-family: Roboto
    font-size: 14px
    font-weight: 300
    background-color: $light-gray-color
    color: $dark-gray-color